<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXEh9R6X5OjSAMcErhneLuB0UO4IUqXFM</string>
	<key>GCM_SENDER_ID</key>
	<string>224257014426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rhrsoft.sikhboiAdmin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sikhboi-2ef32</string>
	<key>STORAGE_BUCKET</key>
	<string>sikhboi-2ef32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224257014426:ios:b6ac636f1a867609f8bd23</string>
</dict>
</plist>